# ------ db ------
POSTGRES_DB=auth
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# ----- auth ------
DATABASE_URL=postgres+asynpg//postgres:postgres@db:5432/auth?sslmode=disable
KAFKA_BROKERS=kafka:9092
REDIS_URL=redis://redis:6379/1

# JWT
JWT_SECRET="super-super-secret"
JWT_ACCESS_TTL_SECONDS=3600
JWT_REFRESH_TTL_SECONDS=12500

USERS_INTERNAL_API=http://users:8000/internal

# ----- kafka ------
KAFKA_ENABLE_KRAFT=yes
KAFKA_KRAFT_CLUSTER_ID=S40B8iVtR0umuTyuM1eLjA
KAFKA_CFG_NODE_ID=1
KAFKA_BROKER_ID=1
KAFKA_CFG_PROCESS_ROLES=broker,controller
KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:29092
KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,EXTERNAL://localhost:29092
KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
ALLOW_PLAINTEXT_LISTENER=yes
